<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let cliente of clientes">
      <ion-item [routerLink]="['/cliente-form/', cliente.idPessoa]" detail>
        <ion-label>
          <h2>
            {{cliente.nome}}
          </h2>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="delete(cliente)" color="intense-red">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/cliente-form/" color="intense-red">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>