<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cor</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cores">Cor</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formGroup" (ngSubmit)="save()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input clearInput type="text" formControlName="nome" name="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Categoria</ion-label>
      <ion-select interface="popover" formControlName="tipoProduto" name="tipoProduto" label-placement="fixed"
        placeholder="Selecione uma categoria">
        <ion-select-option value="BERMUDA">Bermuda</ion-select-option>
        <ion-select-option value="FAIXA">Faixa</ion-select-option>
        <ion-select-option value="KIMONO">Kimono</ion-select-option>
        <ion-select-option value="RASH_GUARD">Rash Guard</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button type="submit" color="intense-red" expand="block" [disabled]="!formGroup.valid">
      Salvar
    </ion-button>
  </form>
</ion-content>