<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title >Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formGroup" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [clearOnEdit]="true" placeholder="Insira o seu email" formControlName="email"
        name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [clearOnEdit]="true" placeholder="Insira a sua senha"
        formControlName="senha" name="senha"></ion-input>
    </ion-item>

    <ion-button type="submit" color="yellow-light" expand="block" [disabled]="!formGroup.valid">
      <ion-icon slot="start" name="enter-outline"></ion-icon>
      Entrar
    </ion-button>
  </form>
</ion-content>